$phone_height: 700px;
$phone_width: $phone_height * 0.58333;

@mixin centeredFlex {
  display: flex;
  justify-content: center;
}

@mixin verticalFlex {
  display: flex;
  align-items: center;
}

body {
  color: #3d3d3f;
  background: linear-gradient(#fa8072, #ffefd5);
  font-family: helvetica;
  margin: 0;
  padding: 0;
}

.right { 
  text-align: right; 
  justify-content: end; 
}

.container { 
  @include verticalFlex;
  flex-direction: column;
  width: 80%; 
  height: 100vh;
  max-width: 1200px; 
  margin: auto; 

  h1 {
    max-height: 10vh;
  }

  #webchat-container {
    @include centeredFlex;
    max-height: 90vh;
    overflow: auto;
    width: 100%;
    > div { 
      flex: 1; 
    }
    .debug-container {
      padding: 1rem;
    }
    .chat-container { width: 100%; }
  }
}

.phone {
  @include centeredFlex;
  @include verticalFlex;
  flex-direction: column;
  width: $phone_width;
  height: $phone_height;
  padding-top: $phone_height * 0.02;
  background: linear-gradient(#000, #121212);
  border-radius: 20px;
  border: 1px solid #666;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);

  .screen {
    display: flex;
    align-items: end;
    width: $phone_width * 0.9;
    height: $phone_height * 0.8;
    background-color: #fff;
    border: 2px solid #eeb;
    border-radius: 2px;
  }

  .controls {
    @include centeredFlex;
    padding-top: $phone_height * 0.04;
    .iphone-btn {
      width: $phone_width * 0.1;
      height: $phone_width * 0.1;
      background-color: #fff;
      border-radius: 50%;
      border: 4px solid #ddd;
    }
  }
}

.message-container {
  display: flex;
}

.message {
  margin: 2px 10px 20px;
}

.text-message {
  .text-message-inner {
    display: inline-block;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }
}

.user-icon {
  display: block;
  background: #E6E7ED;
  border-radius: 20px;
  background-position:50% 50%;
  background-repeat:no-repeat; 
}